---
http_interactions:
- request:
    method: get
    uri: https://management.core.windows.net/<SUBSCRIPTION_ID>/services/networking/virtualnetwork
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-ms-date:
      - Sat, 02 Apr 2016 03:32:00 GMT
      x-ms-version:
      - '2015-04-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: <VirtualNetworkSites xmlns="http://schemas.microsoft.com/windowsazure"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"/>
  recorded_at: Sat, 02 Apr 2016 03:32:00 GMT
- request:
    method: put
    uri: https://management.core.windows.net/<SUBSCRIPTION_ID>/services/networking/media
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <NetworkConfiguration xmlns="http://schemas.microsoft.com/ServiceHosting/2011/07/NetworkConfiguration">
          <VirtualNetworkConfiguration>
            <Dns>
              <DnsServers>
                <DnsServer name="DNS" IPAddress="1.2.3.4"/>
              </DnsServers>
            </Dns>
            <VirtualNetworkSites>
              <VirtualNetworkSite name="newvnet" AffinityGroup="" Location="East US">
                <DnsServersRef>
                  <DnsServerRef name="DNS"/>
                </DnsServersRef>
                <Subnets>
                  <Subnet name="Subnet-1">
                    <AddressPrefix>172.16.0.0/12</AddressPrefix>
                  </Subnet>
                </Subnets>
                <AddressSpace>
                  <AddressPrefix>172.16.0.0/12</AddressPrefix>
                </AddressSpace>
              </VirtualNetworkSite>
            </VirtualNetworkSites>
          </VirtualNetworkConfiguration>
        </NetworkConfiguration>
    headers:
      x-ms-date:
      - Sat, 02 Apr 2016 03:32:00 GMT
      x-ms-version:
      - '2015-04-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - text/plain
      Content-MD5:
      - orXX6f5Twr9/BNyexwFzgQ==
  response:
    status:
      code: 202
      message: 
    headers:
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Apr 2016 03:32:01 GMT
- request:
    method: get
    uri: https://management.core.windows.net/<SUBSCRIPTION_ID>/operations/dd58073b82919b9b948648b743eaf463
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <NetworkConfiguration xmlns="http://schemas.microsoft.com/ServiceHosting/2011/07/NetworkConfiguration">
          <VirtualNetworkConfiguration>
            <Dns>
              <DnsServers>
                <DnsServer name="DNS" IPAddress="1.2.3.4"/>
              </DnsServers>
   [...]
- request:
    method: get
    uri: https://management.core.windows.net/<SUBSCRIPTION_ID>/services/networking/virtualnetwork
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-ms-date:
      - Sat, 02 Apr 2016 03:32:08 GMT
      x-ms-version:
      - '2015-04-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: <VirtualNetworkSites xmlns="http://schemas.microsoft.com/windowsazure"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><VirtualNetworkSite><Name>newvnet</Name><Id>972bb61c-418d-4047-8a9a-0904c87e46e0</Id><State>Created</State><AddressSpace><AddressPrefixes><AddressPrefix>172.16.0.0/12</AddressPrefix></AddressPrefixes></AddressSpace><Subnets><Subnet><Name>Subnet-1</Name><AddressPrefix>172.16.0.0/12</AddressPrefix></Subnet></Subnets><Dns><DnsServers><DnsServer><Name>DNS</Name><Address>1.2.3.4</Address></DnsServer></DnsServers></Dns><Location>East
        US</Location></VirtualNetworkSite></VirtualNetworkSites>
  recorded_at: Sat, 02 Apr 2016 03:32:08 GMT
recorded_with: VCR 3.0.1
