---
http_interactions:
- request:
    method: get
    uri: https://management.core.windows.net/<SUBSCRIPTION_ID>/services/networking/virtualnetwork
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-ms-date:
      - Sat, 02 Apr 2016 03:37:09 GMT
      x-ms-version:
      - '2015-04-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: <VirtualNetworkSites xmlns="http://schemas.microsoft.com/windowsazure"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"/>
  recorded_at: Sat, 02 Apr 2016 03:37:09 GMT
- request:
    method: put
    uri: https://management.core.windows.net/<SUBSCRIPTION_ID>/services/networking/media
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <NetworkConfiguration xmlns="http://schemas.microsoft.com/ServiceHosting/2011/07/NetworkConfiguration">
          <VirtualNetworkConfiguration>
            <Dns>
              <DnsServers>
                <DnsServer name="DNS" IPAddress="1.2.3.4"/>
              </DnsServers>
            </Dns>
            <VirtualNetworkSites>
              <VirtualNetworkSite name="newvnet" AffinityGroup="" Location="East US">
                <DnsServersRef>
                  <DnsServerRef name="DNS"/>
                </DnsServersRef>
                <Subnets>
                  <Subnet name="Subnet-1">
                    <AddressPrefix>172.16.0.0/12</AddressPrefix>
                  </Subnet>
                </Subnets>
                <AddressSpace/>
              </VirtualNetworkSite>
            </VirtualNetworkSites>
          </VirtualNetworkConfiguration>
        </NetworkConfiguration>
    headers:
      x-ms-date:
      - Sat, 02 Apr 2016 03:37:09 GMT
      x-ms-version:
      - '2015-04-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - text/plain
      Content-MD5:
      - 7V21ajO3S5CVzqzL5KpKtA==
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: <Error xmlns="http://schemas.microsoft.com/windowsazure" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Code>BadRequest</Code><Message>XML
        Schema validation error in network configuration at line 19,10.</Message></Error>
  recorded_at: Sat, 02 Apr 2016 03:37:10 GMT
recorded_with: VCR 3.0.1
