---
http_interactions:
- request:
    method: get
    uri: https://management.core.windows.net:8443/<SUBSCRIPTION_ID>/services/sqlservers/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-ms-date:
      - Mon, 11 Apr 2016 22:19:30 GMT
      x-ms-version:
      - '2012-03-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: |-
        <Servers xmlns="http://schemas.microsoft.com/sqlazure/2010/12/">
          <Server>
            <Name>snqin6j9j0</Name>
            <AdministratorLogin>test_login</AdministratorLogin>
            <Location>Southeast Asia</Location>
            <FullyQualifiedDomainName>snqin6j9j0.database.windows.net</FullyQualifiedDomainName>
            <Version>12.0</Version>
            <State>Ready</State>
          </Server>
          <Server>
            <Name>uneadfjti9</Name>
            <AdministratorLogin>test_login</AdministratorLogin>
            <Location>Southeast Asia</Location>
            <FullyQualifiedDomainName>uneadfjti9.database.windows.net</FullyQualifiedDomainName>
            <Version>12.0</Version>
            <State>Ready</State>
          </Server>
          <Server>
            <Name>zonqeuzhev</Name>
            <AdministratorLogin>test_login</AdministratorLogin>
            <Location>East US</Location>
            <FullyQualifiedDomainName>zonqeuzhev.database.windows.net</FullyQualifiedDomainName>
            <Version>12.0</Version>
            <State>Ready</State>
          </Server>
        </Servers>
  recorded_at: Mon, 11 Apr 2016 22:19:31 GMT
- request:
    method: post
    uri: https://management.core.windows.net:8443/<SUBSCRIPTION_ID>/services/sqlservers/servers
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <Server xmlns="http://schemas.microsoft.com/sqlazure/2010/12/">
          <AdministratorLogin>test_login</AdministratorLogin>
          <AdministratorLoginPassword>User@123</AdministratorLoginPassword>
          <Location>Southeast Asia</Location>
          <Version>12.0</Version>
        </Server>
    headers:
      x-ms-date:
      - Mon, 11 Apr 2016 22:19:31 GMT
      x-ms-version:
      - '2012-03-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - application/xml
      Content-MD5:
      - rrMHuxxVLxyYP+gKBagb1g==
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: <ServerName FullyQualifiedDomainName="lyahrvk5od.database.windows.net"
        xmlns="http://schemas.microsoft.com/sqlazure/2010/12/">lyahrvk5od</ServerName>
  recorded_at: Mon, 11 Apr 2016 22:20:06 GMT
[...]
- request:
    method: delete
    uri: https://management.core.windows.net:8443/<SUBSCRIPTION_ID>/services/sqlservers/servers/lyahrvk5od
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-ms-date:
      - Mon, 11 Apr 2016 22:20:07 GMT
      x-ms-version:
      - '2012-03-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: 
    headers:
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Apr 2016 22:20:10 GMT
[...]
