# This is a sample of what your .env file should look like if you wanted to run integration tests.
# If you move this file to the .env and replace the environment variables with your own values, then the environment
# will be included when the rake test tasks are executed. Otherwise, you could just export the environment vars
# yourself.

AZURE_STORAGE_ACCOUNT="your storage account"
AZURE_STORAGE_ACCESS_KEY="your storage access key"
AZURE_SERVICEBUS_NAMESPACE="your sb namespace"
AZURE_SERVICEBUS_ACCESS_KEY="your sb access key"
AZURE_MANAGEMENT_CERTIFICATE="your management cert path"
AZURE_SUBSCRIPTION_ID="your subscription id"
AZURE_SERVICEBUS_SAS_KEY="Service Bus SAS key"
AZURE_SERVICEBUS_SAS_KEY_NAME="Service Bus SAS key name"