sudo: false
language: ruby
rvm:
  - 2.1.10
  - 2.2.9
  - 2.3.6
  - 2.4.3
  - 2.5.0
matrix:
  include:
    - rvm: 2.3.0
      env: LATEST_RUNTIME=true
  allow_failures:
    - rvm: 2.3.0
      env: LATEST_RUNTIME=true
before_install:
  - gem install bundler -v 1.14.1
  - if [ "$LATEST_RUNTIME" == "true" ] ; then ./scripts/latest_runtime.sh ; fi
script:
  - if [ "$INTEG_RECORDED" == "true" ] ; then bundle install --gemfile=Gemfile && bundle exec rake arm:spec ; fi
  - bundle exec rake arm:build
  - unset BUNDLE_GEMFILE
  - cd $TRAVIS_BUILD_DIR/runtime/ms_rest && bundle install --gemfile=Gemfile && bundle exec rspec
  - cd $TRAVIS_BUILD_DIR/runtime/ms_rest_azure && bundle install --gemfile=Gemfile && bundle exec rspec
deploy:
  provider: script
  script: ./scripts/release.sh
  on:
    tags: true
