sudo: false
language: ruby
rvm:
- 2.0.0
- 2.1.5
- 2.2.0
- 2.3.0
script:
- bundle install && bundle exec rake test:unit
- if [ "$INTEG_RECORDED" == "true" ] ; then bundle exec rake test:recorded ; fi
deploy:
  provider: rubygems
  edge:
    source: vishrutshah/dpl
    branch: gemspec_with_path
  api_key:
    secure: VXi28DFUnQ7tYuvOwwfs4Og0/Wkfq4GWMtU9Wjgn6VuYMuRMzMD34acIpgqCDW4dVLlsCtvx1MIZLvaHe0F5nOJP1LZ88IW8bDEa2dSRMhXXKGf/CF9sOhMxK9uoThMp7FHMSttfasudooIsrQn9FExdCs5s7ndDQ+gOD/QHKjk=
  gem: azure
  on:
    tags: true
    repo: Azure/azure-sdk-for-ruby
