sudo: false
language: ruby
rvm:
- 2.0.0
- 2.1.5
- 2.2.0
- 2.3.0
- jruby-9.1.5.0
script:
- bundle install
- if [ "$INTEG_RECORDED" == "true" ] ; then bundle exec rake arm:spec ; fi
- bundle exec rake arm:build
deploy:
  provider: script
  script: ./scripts/release.sh
  on:
    tags: true
