<h1 style="color:red">The Windows Azure Service Runtime is not available</h1>
<p>You are receiving this error because the application is not being run in the Azure platform nor the emulator, and therefore the Service Runtime is not accessible</p>
