<h1>Test form</h1>
<p>Use this form to run arbitrary code against the Service Runtime.</p>
<form method="post" action="/test">
  <textarea name="code" id="code"></textarea>
  <input type="submit" value="Run" />
</form>
