# encoding: utf-8
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.

module Azure end
module Azure::<%= @module_name %> end
<%- if(@plane == 'management') -%>
module Azure::<%= @module_name %>::Mgmt end
<%- end -%>