---
http_interactions:
- request:
    method: get
    uri: https://management.core.windows.net/<SUBSCRIPTION_ID>/affinitygroups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-ms-date:
      - Wed, 30 Mar 2016 18:40:32 GMT
      x-ms-version:
      - '2015-04-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: <AffinityGroups xmlns="http://schemas.microsoft.com/windowsazure" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"/>
  recorded_at: Wed, 30 Mar 2016 18:40:33 GMT
- request:
    method: get
    uri: https://management.core.windows.net/<SUBSCRIPTION_ID>/locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-ms-date:
      - Wed, 30 Mar 2016 18:40:33 GMT
      x-ms-version:
      - '2015-04-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: <Locations xmlns="http://schemas.microsoft.com/windowsazure" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Location><Name>East
        US</Name><DisplayName>East US</DisplayName><AvailableServices><AvailableService>Compute</AvailableService><AvailableService>Storage</AvailableService><AvailableService>PersistentVMRole</AvailableService><AvailableService>HighMemory</AvailableService></AvailableServices><ComputeCapabilities><WebWorkerRoleSizes><RoleSize>A10</RoleSize><RoleSize>A11</RoleSize><RoleSize>A5</RoleSize><RoleSize>A6</RoleSize><RoleSize>A7</RoleSize><RoleSize>A8</RoleSize><RoleSize>A9</RoleSize><RoleSize>ExtraLarge</RoleSize><RoleSize>ExtraSmall</RoleSize><RoleSize>Large</RoleSize><RoleSize>Medium</RoleSize><RoleSize>Small</RoleSize><RoleSize>Standard_D1</RoleSize><RoleSize>Standard_D1_v2</RoleSize><RoleSize>Standard_D11</RoleSize><RoleSize>Standard_D11_v2</RoleSize><RoleSize>Standard_D12</RoleSize><RoleSize>Standard_D12_v2</RoleSize><RoleSize>Standard_D13</RoleSize><RoleSize>Standard_D13_v2</RoleSize><RoleSize>Standard_D14</RoleSize><RoleSize>Standard_D14_v2</RoleSize><RoleSize>Standard_D2</RoleSize><RoleSize>Standard_D2_v2</RoleSize><RoleSize>Standard_D3</RoleSize><RoleSize>Standard_D3_v2</RoleSize><RoleSize>Standard_D4</RoleSize><RoleSize>Standard_D4_v2</RoleSize><RoleSize>Standard_D5_v2</RoleSize><RoleSize>Standard_DS1_v2</RoleSize><RoleSize>Standard_DS11_v2</RoleSize><RoleSize>Standard_DS12_v2</RoleSize><RoleSize>Standard_DS13_v2</RoleSize><RoleSize>Standard_DS14_v2</RoleSize><RoleSize>Standard_DS2_v2</RoleSize><RoleSize>Standard_DS3_v2</RoleSize><RoleSize>Standard_DS4_v2</RoleSize><RoleSize>Standard_DS5_v2</RoleSize></WebWorkerRoleSizes><VirtualMachinesRoleSizes><RoleSize>A10</RoleSize><RoleSize>A11</RoleSize><RoleSize>A5</RoleSize><RoleSize>A6</RoleSize><RoleSize>A7</RoleSize><RoleSize>A8</RoleSize><RoleSize>A9</RoleSize><RoleSize>Basic_A0</RoleSize><RoleSize>Basic_A1</RoleSize><RoleSize>Basic_A2</RoleSize><RoleSize>Basic_A3</RoleSize><RoleSize>Basic_A4</RoleSize><RoleSize>ExtraLarge</RoleSize><RoleSize>ExtraSmall</RoleSize><RoleSize>Large</RoleSize><RoleSize>Medium</RoleSize><RoleSize>Small</RoleSize><RoleSize>Standard_D1</RoleSize><RoleSize>Standard_[...]
- request:
    method: post
    uri: https://management.core.windows.net/<SUBSCRIPTION_ID>/affinitygroups
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <CreateAffinityGroup xmlns="http://schemas.microsoft.com/windowsazure">
          <Name>testaffinitygroup</Name>
          <Label>TGFiZWw=</Label>
          <Description/>
          <Location>Southeast Asia</Location>
        </CreateAffinityGroup>
    headers:
      x-ms-date:
      - Wed, 30 Mar 2016 18:40:34 GMT
      x-ms-version:
      - '2015-04-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - application/xml
      Content-MD5:
      - o/7UUm34v20qqlPMC8hq2A==
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - https://management.core.windows.net/subscriptions/<SUBSCRIPTION_ID>/affinitygroup/testaffinitygroup
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 30 Mar 2016 18:40:34 GMT
- request:
    method: get
    uri: https://management.core.windows.net/<SUBSCRIPTION_ID>/affinitygroups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-ms-date:
      - Wed, 30 Mar 2016 18:40:34 GMT
      x-ms-version:
      - '2015-04-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: <AffinityGroups xmlns="http://schemas.microsoft.com/windowsazure" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><AffinityGroup><Name>testaffinitygroup</Name><Label>TGFiZWw=</Label><Description/><Location>Southeast
        Asia</Location><Capabilities><Capability>PersistentVMRole</Capability><Capability>HighMemory</Capability></Capabilities><CreatedTime>2016-03-30T18:40:33Z</CreatedTime><ComputeCapabilities><WebWorkerRoleSizes><RoleSize>A5</RoleSize><RoleSize>A6</RoleSize><RoleSize>A7</RoleSize><RoleSize>ExtraLarge</RoleSize><RoleSize>ExtraSmall</RoleSize><RoleSize>Large</RoleSize><RoleSize>Medium</RoleSize><RoleSize>Small</RoleSize><RoleSize>Standard_D1</RoleSize><RoleSize>Standard_D1_v2</RoleSize><RoleSize>Standard_D11</RoleSize><RoleSize>Standard_D11_v2</RoleSize><RoleSize>Standard_D12</RoleSize><RoleSize>Standard_D12_v2</RoleSize><RoleSize>[...]
- request:
    method: put
    uri: https://management.core.windows.net/<SUBSCRIPTION_ID>/affinitygroups/testaffinitygroup
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <UpdateAffinityGroup xmlns="http://schemas.microsoft.com/windowsazure">
          <Label>dXBkYXRlZCBsYWJlbA==</Label>
        </UpdateAffinityGroup>
    headers:
      x-ms-date:
      - Wed, 30 Mar 2016 18:40:35 GMT
      x-ms-version:
      - '2015-04-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - application/xml
      Content-MD5:
      - X5AsfKb84RnbCl8vwrtMSg==
  response:
    status:
      code: 200
      message: 
    headers:
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 30 Mar 2016 18:40:36 GMT
[...]
- request:
    method: delete
    uri: https://management.core.windows.net/<SUBSCRIPTION_ID>/affinitygroups/testaffinitygroup
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-ms-date:
      - Wed, 30 Mar 2016 18:40:38 GMT
      x-ms-version:
      - '2015-04-01'
      DataServiceVersion:
      - 1.0;NetFx
      MaxDataServiceVersion:
      - 2.0;NetFx
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: 
    headers:
      x-ms-servedbyregion:
      - ussouth3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 30 Mar 2016 18:40:40 GMT
recorded_with: VCR 3.0.1
