---
http_interactions:
- request:
    method: get
    uri: https://login.microsoftonline.com/<AZURE_TENANT_ID>/oauth2/token
    body:
      encoding: UTF-8
      string: resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_id=<AZURE_CLIENT_ID>&client_secret=<AZURE_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-responsehealth:
      - TargetId=ESTSFE_IN_284;Action=None;Category=None;Health=0;Load=45;
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3599","ext_expires_in":"0","expires_on":"1470702226","not_before":"1470698326","resource":"https://management.core.windows.net/","access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Mon, 08 Aug 2016 23:23:46 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/RubySDKTest_azure_mgmt_compute?api-version=2016-02-01
    body:
      encoding: UTF-8
      string: '{"location":"westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: UTF-8
      string: '{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute","name":"RubySDKTest_azure_mgmt_compute","location":"westus","properties":{"provisioningState":"Succeeded"}}'
  recorded_at: Mon, 08 Aug 2016 23:23:48 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Network/virtualNetworks/testvnet53464?api-version=2016-06-01
    body:
      encoding: UTF-8
      string: '{"location":"westus","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"dhcpOptions":{"dnsServers":["10.1.1.1","10.1.2.4"]},"subnets":[{"properties":{"addressPrefix":"10.0.2.0/24"},"name":"subnet253464"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      retry-after: '1'
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Network/locations/westus/operations/37a19952-3d1c-42a1-9c82-58d5bfbf470b?api-version=2016-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: UTF-8
      string: "{\r\n  \"name\": \"testvnet53464\",\r\n  \"id\": \"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Network/virtualNetworks/testvnet53464\",\r\n
        \ \"etag\": \"W/\\\"3d4afd51-e086-4103-a681-550f93604685\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"2742e0be-61aa-491f-9164-19e6ed576b0b\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\":
        {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n
        \     ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnet253464\",\r\n
        \       \"id\": \"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Network/virtualNetworks/testvnet53464/subnets/subnet253464\",\r\n
        \       \"etag\": \"W/\\\"3d4afd51-e086-4103-a681-550f93604685\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.2.0/24\"\r\n        }\r\n      }\r\n    ],\r\n
        \   \"virtualNetworkPeerings\": []\r\n  }\r\n}"
  recorded_at: Mon, 08 Aug 2016 23:23:49 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Network/locations/westus/operations/37a19952-3d1c-42a1-9c82-58d5bfbf470b?api-version=2016-06-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-reads:
      - '14999'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
  recorded_at: Mon, 08 Aug 2016 23:24:20 GMT
[...]
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Network/virtualNetworks/testvnet53464/subnets/testsubnet53464?api-version=2016-06-01
    body:
      encoding: UTF-8
      string: '{"properties":{"addressPrefix":"10.0.1.0/24"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      retry-after: '1'
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Network/locations/westus/operations/5a23be41-3d94-4c9a-acdb-6b34dccaba0d?api-version=2016-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: UTF-8
      string: "{\r\n  \"name\": \"testsubnet53464\",\r\n  \"id\": \"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Network/virtualNetworks/testvnet53464/subnets/testsubnet53464\",\r\n
        \ \"etag\": \"W/\\\"3c6c94e7-44d6-4b82-b8b2-76a77df15981\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.1.0/24\"\r\n
        \ }\r\n}"
  recorded_at: Mon, 08 Aug 2016 23:24:21 GMT
[...]
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Network/publicIPAddresses/test_ip_name?api-version=2016-06-01
    body:
      encoding: UTF-8
      string: '{"location":"westus","properties":{"publicIPAllocationMethod":"Dynamic","dnsSettings":{"domainNameLabel":"testdomain53464"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      retry-after: '1'
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Network/locations/westus/operations/fab67f3e-f7fa-4cf5-8a5b-400855acb4a9?api-version=2016-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    body:
      encoding: UTF-8
      string: "{\r\n  \"name\": \"test_ip_name\",\r\n  \"id\": \"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Network/publicIPAddresses/test_ip_name\",\r\n
        \ \"etag\": \"W/\\\"afe9eec1-00c8-4898-b793-f8d87bde36f1\\\"\",\r\n  \"type\":
        \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"5136a669-a99a-4aed-84a3-15c8696774d6\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"testdomain53464\",\r\n
        \     \"fqdn\": \"testdomain53464.westus.cloudapp.azure.com\"\r\n    }\r\n
        \ }\r\n}"
  recorded_at: Mon, 08 Aug 2016 23:24:54 GMT
[...]
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Network/networkInterfaces/testnic53464?api-version=2016-06-01
    body:
      encoding: UTF-8
      string: '{"location":"westus","properties":{"ipConfigurations":[{"properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Network/virtualNetworks/testvnet53464/subnets/testsubnet53464","properties":{"addressPrefix":"10.0.1.0/24","provisioningState":"Succeeded"},"name":"testsubnet53464","etag":"W/\"47f42626-5da1-44be-8053-b3ad362287f8\""},"publicIPAddress":{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Network/publicIPAddresses/test_ip_name","location":"westus","properties":{"publicIPAllocationMethod":"Dynamic","publicIPAddressVersion":"IPv4","dnsSettings":{"domainNameLabel":"testdomain53464","fqdn":"testdomain53464.westus.cloudapp.azure.com"},"idleTimeoutInMinutes":4,"resourceGuid":"5136a669-a99a-4aed-84a3-15c8696774d6","provisioningState":"Succeeded"},"etag":"W/\"11540661-cbaf-482a[...]
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Storage/storageAccounts/teststorage53464?api-version=2016-01-01
    body:
      encoding: UTF-8
      string: '{"sku":{"name":"Standard_GRS"},"kind":"Storage","location":"westus","properties":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 202
      message: 
    headers:
      location:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Storage/operations/de9c8054-0f09-409c-a566-336a9051e56e?monitor=true&api-version=2016-01-01
      retry-after: '1'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2016 23:25:28 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Storage/operations/de9c8054-0f09-409c-a566-336a9051e56e?api-version=2016-01-01&monitor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-reads:
      - '14999'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/rubysdktest_azure_mgmt_compute/providers/Microsoft.Storage/storageAccounts/teststorage53464","kind":"Storage","location":"westus","name":"teststorage53464","properties":{"creationTime":"2016-08-08T23:25:27.3592310Z","primaryEndpoints":{"blob":"https://teststorage53464.blob.core.windows.net/","file":"https://teststorage53464.file.core.windows.net/","queue":"https://teststorage53464.queue.core.windows.net/","table":"https://teststorage53464.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","secondaryLocation":"eastus","statusOfPrimary":"available","statusOfSecondary":"available"},"sku":{"name":"Standard_GRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

'
  recorded_at: Mon, 08 Aug 2016 23:25:58 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Compute/virtualMachines/testvm?api-version=2016-03-30
    body:
      encoding: UTF-8
      string: '{"location":"westus","properties":{"hardwareProfile":{"vmSize":"Standard_A0"},"storageProfile":{"imageReference":{"publisher":"MicrosoftWindowsServer","offer":"WindowsServer","sku":"2012-R2-Datacenter","version":"latest"},"osDisk":{"name":"Test","vhd":{"uri":"https://teststorage53464.blob.core.windows.net/testcontainer/ostest.vhd"},"caching":"None","createOption":"fromImage"}},"osProfile":{"computerName":"testvm1","adminUsername":"testvm1","adminPassword":"P@ssword1","windowsConfiguration":{"provisionVMAgent":true,"enableAutomaticUpdates":true},"secrets":[]},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Network/networkInterfaces/testnic53464","properties":{}}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Compute/locations/westus/operations/c22d4a9e-cddc-4565-84ff-71e08a155383?api-version=2016-03-30
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: UTF-8
      string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"d460a057-8ec6-4010-a231-b535739470ce\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A0\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\":
        \"2012-R2-Datacenter\",\r\n        \"version\": \"latest\"\r\n      },\r\n
        \     \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\":
        \"Test\",\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\":
        {\r\n          \"uri\": \"https://teststorage53464.blob.core.windows.net/testcontainer/ostest.vhd\"\r\n
        \       },\r\n        \"caching\": \"None\"\r\n      },\r\n      \"dataDisks\":
        []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"testvm1\",\r\n
        \     \"adminUsername\": \"testvm1\",\r\n      \"windowsConfiguration\": {\r\n
        \       \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\":
        true\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Network/networkInterfaces/testnic53464\",\"properties\":{}}]},\r\n
        \   \"provisioningState\": \"Creating\"\r\n  },\r\n  \"id\": \"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Compute/virtualMachines/testvm\",\r\n
        \ \"name\": \"testvm\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n
        \ \"location\": \"westus\"\r\n}"
  recorded_at: Mon, 08 Aug 2016 23:26:00 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Compute/locations/westus/operations/c22d4a9e-cddc-4565-84ff-71e08a155383?api-version=2016-03-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-reads:
      - '14999'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"startTime\": \"2016-08-08T23:26:01.6164493+00:00\",\r\n  \"status\":
        \"InProgress\",\r\n  \"name\": \"c22d4a9e-cddc-4565-84ff-71e08a155383\"\r\n}"
  recorded_at: Mon, 08 Aug 2016 23:26:30 GMT
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Compute/locations/westus/operations/c22d4a9e-cddc-4565-84ff-71e08a155383?api-version=2016-03-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-reads:
      - '14994'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"startTime\": \"2016-08-08T23:26:01.6164493+00:00\",\r\n  \"endTime\":
        \"2016-08-08T23:34:36.0132549+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"c22d4a9e-cddc-4565-84ff-71e08a155383\"\r\n}"
  recorded_at: Mon, 08 Aug 2016 23:42:14 GMT
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_compute/providers/Microsoft.Compute/virtualMachines?api-version=2016-03-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-reads:
      - '14957'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"vmId\":
        \"d460a057-8ec6-4010-a231-b535739470ce\",\r\n        \"hardwareProfile\":
        {\r\n          \"vmSize\": \"Standard_A0\"\r\n        },\r\n        \"storageProfile\":
        {\r\n          \"imageReference\": {\r\n            \"publisher\": \"MicrosoftWindowsServer\",\r\n
        \           \"offer\": \"WindowsServer\",\r\n            \"sku\": \"2012-R2-Datacenter\",\r\n
        \           \"version\": \"latest\"\r\n      [...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Network/networkInterfaces?api-version=2016-06-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-reads:
      - '14995'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"value\[...]
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SVUJZU0RLVEVTVDo1RkFaVVJFOjVGTUdNVDo1RkNPTVBVVEUtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      x-ms-ratelimit-remaining-subscription-reads:
      - '14999'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2016 23:48:52 GMT
recorded_with: VCR 3.0.3
